#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: rgb(124, 121, 121);
  grid-gap: 1.5em;
  padding: 0 40px;
}
#image{
  height: 50px;
  width: 50px;
}
#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}
#links a {
  text-decoration: none;
  color: rgb(206, 204, 218);
  text-transform: uppercase;
  font-weight: bold; 
  border-color: rgb(201, 150, 9);
}
body{
  border: solid 2px;
  background-color: rgb(212, 209, 226);
}
#foot{
  padding: 0px;
  text-align: center;
}